#login-container{
    padding-top: 88px;
}

.logo{
    margin-bottom: 24px;
}

.primary{
    background-color: #DE3F54 !important; 
    border: none !important;
}

.linkDino{


    color: #DE3F54;
    text-decoration: none;
}

.loginForm{
    margin-bottom: 24px;
}